{% extends 'base.html' %}

{% block bodyblock %}

    <div class="container">
    </div>

    <div class="container">
        <br>
        <form action="#" method="post" enctype="multipart/form-data">
            <input type="file" id="upload" name="image" required="true">

             <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </form>

    </div>

    {% if fileupload  %}

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="predict">
                <img src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
            </div>
            <div class="col-md-6" id="predict">
                <img class = "img-responsive" src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="predict">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                {{gender}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        #predict{
            border: solid;
            color:#002f4d;
            text-align: center;
        }
    </style>


    {% endif %}

{% endblock %}
